.Navbar {
  width: 100%;
}

.word {
  color: white;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 65%;
}

.margin {
  margin-left: 3%;
}

.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 15%;
  margin-left: 5%;
}

.navbar1 {
  height: 5vh;
  background-color: rgb(240, 8, 8);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar2 {
  height: 6vh;
  background-color: rgb(41, 43, 45);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap_word {
  color: rgb(175, 168, 168);
  margin-left: 3%;
}

.search {
  height: 3.5vh;
  width: 13%;
  font-size: 100%;
  padding-left: 15px;
  background-color: black;
  border-radius: 5px;
  margin-left: 4%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 4px;
  background-color: rgb(41, 43, 45);
  border-width: 1px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#hover:hover {
  color: red;
}
